<section class="bg-dark" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Current Status</h2>
                <hr class="light">
                <p>
                    As of October 3, nearly all of the island’s 1.57 million electricity customers were still without power and 50% of population still do not have access to water.
                </p>
                <p>
                    Many roads are still impassable, making the relief and rebuilding efforts much harder. And there is severely limited access to cash and gas.
                </p>
                <p>
                    What’s most concerning is that it could be four to six months before power is fully restored on the island. Without power, much of the island’s infrastructure is crippled.
                </p>
                <p>
                    34 people have so far been confirmed to have lost their lives, although the actual death toll is expected to be much higher. One of the big problems right now is that, due to the lack of communications infrastructure, it has been very hard to get a clear picture on the actual death-toll.
                </p>
                <!--<a href="#" class="btn btn-default btn-xl">Get Started!</a>-->
            </div>
        </div>
    </div>
</section>
