<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About TechSupports</h2>
                <hr class="light">
                <p class="text-faded">
                    TechSupports was founded in Atlanta in 2017 and is generously supported by the Atlanta Tech Village ‘Pay It Forward’ initiative.
                </p>
                <!--<a href="#" class="btn btn-default btn-xl">Get Started!</a>-->
            </div>
        </div>
    </div>
</section>
