<header class="current">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Sprint #2 - Canned Food Drive</h1>
            <p>Oct 9 - Oct 13th</p>
            <hr class="light">
            <h2>What Happened?</h2>
            <p>In the early hours of Weds Sep 20th, Hurricane Maria, a Category 4 storm hit the island of Puerto Rico, sending its 3.4m US citizens running for cover.</p>
            <p>It was the fifth-strongest storm ever to hit the US, and the strongest storm to hit the island in 80 years. The devastation was vast.</p>
            <p>The storm knocked out 80 percent of the island’s power transmission lines. It destroyed 1,360 out of 1,600 cellphone towers. It cut off running water to the majority of the population. And it wiped out about 80 percent of the crop value in a matter of hours.</p>
            <a class="btn btn-primary page-scroll" href="#mission">How You Can Help</a>
            <hr class="light">
            <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup">
            <form action="//techsupports.us16.list-manage.com/subscribe/post?u=d677a81b1f67f477fd3592fb2&amp;id=b13451b3d5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                <label for="mce-EMAIL">Sign up for sprint updates</label>
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d677a81b1f67f477fd3592fb2_b13451b3d5" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
            </form>
            </div>
            <!--End mc_embed_signup-->
        </div>
    </div>
</header>
