<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="../img/logo.png" class="logo">
            <hr>
            <p>We're actively working to provide relief to those impacted by Hurricane Harvey during our first 2 week sprint. We'd love your support</p>
            <a
                href="https://www.crowdrise.com/o/en/team/techsupports-hurricane-harvey-relief/techsupports"
                class="btn btn-inverse btn-xl page-scroll">
                How You Can Help
            </a>
        </div>
    </div>
</header>
