 <section class="bg-secondary" id="mission">
    <div class="container text-center text-light">
        <div class="call-to-action">
            <h2>How to help</h2>
            <p>
                Our goal for this sprint is to feed People and Pets!  We'll be collecting canned goods at the ATV front desk from:
            </p>
            <p>
                Monday October 9th to Friday October 13th
            </p>
            <hr class="light">
            <p>
                We'll also be collecting in the ATV Lobby from 8 to 9am and 12 to 1pm
            </p>
            <hr class="light">
            <h3>What we're looking for</h3>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <h4>For People</h4>
                    <ul class="list-none">
                        <li>Canned Soup, Chili, Stew</li>
                        <li>Canned Chicken or Tuna</li>
                        <li>Canned Fruits or Vegetables</li>
                        <li>Canned Sauces or Juices</li>
                    </ul>
                </div>
                <div class="col-lg-4 text-center">
                    <h4>For Pets</h4>
                    <ul class="list-none">
                        <li>Canned Pet Foods</li>
                        <li>Canned Pet Treats</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
