 <section class="bg-dark" id="mission">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Our Mission</h2>
            <p class="text-fade">
                TechSupports helps coordinate and accelerate the charitable response of early and mid-stage technology companies to catastrophic events around the world. We believe that, by acting in unison, small actions by millions of entrepreneurs and small businesses can make a massive impact. 
            </p>
        </div>
    </div>
</section>
